<div class="background-img text-center">
  <div class="jumbotron landing-jumbo">
    <div class="jumbo-container col-md-8 col-md-offset-2">
      <h1>Spend less time managing your equipment listings</h1>
    </div>

    <div class="col-md-12">
      <h3>
        Streamline helps you manage your online equipment from one simple dashboard.
      </h3>
    </div>
  </div>
</div>

<div class="learn-more-container text-center">
  <h2>Sounds cool! Can you tell me more?</h2>

  <hr />

  <h4><span>Yes!</span> We'll be launching soon and we'd love to talk to you.</h4>
  <h4>Send us an email with your contact info and we'll get back to you today.</h4>
  <%= mail_to "wade@streamlineapp.com", "Say Hello!",
                                        subject: "Hi Wade! Tell me more about Streamline.",
                                        class: "btn btn-lg btn-primary" %>
  </div>

  <div class="bottom-footer">
    <p>We think listing equipment online is a pain in the butt. We're trying to change that at Streamline.</p>
  </div>
</div>

