<div class="row outdated-listings-narrow">
  <h3 class="listing-list-header text-center">Outdated Listings</h3>
  <ul class="listing-list">
    <% if @equip_locator_listings.count == 0 %>
      <hr />
      <h4 class="text-center">All listings up to date!</h4>
    <% else %>
      <%= render @equip_locator_listings %>
    <% end %>
  </ul>
</div>
<div class="listing-site-frame">
  <iframe src="http://www.equipmentlocator.com/maint/login.aspx">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
