<div class="row outdated-listings-narrow">
  <h3 class="text-center">Outdated Listings</h3>
  <ul class="listing-list">
    <%= render @equip_alley_listings %>
  </ul>
</div>
<div class="listing-site-frame">
  <iframe src="https://www.equipmentalley.com/main/user/login">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
