<div class="row table-container-wide listing-panel-container">
  <div>
    <h3 class="text-center">Which site do you want to update?</h3>
  </div>
  <%= render 'listing_site_panel_link', website: "Equipment Alley",
                                        website_listings: @equip_alley_listings,
                                        site_path: listings_equip_alley_path %>
  <%= render 'listing_site_panel_link', website: "Equipment Locator",
                                        website_listings: @equip_locator_listings,
                                        site_path: listings_equip_locator_path %>
  <%= render 'listing_site_panel_link', website: "Machinery Trader",
                                        website_listings: @mach_trader_listings,
                                        site_path: listings_mach_trader_path %>
</div>
