<div class="row table-container-wide">
  <div class="page-header listing-site-header">
    <h3>Equipment Alley Listings</h3>
  </div>
  <ul class="machine-inventory-list">
    <%= render @equip_alley_listings %>
  </ul>

  <hr />

  <div class="page-header listing-site-header">
    <h3>Equipment Locator Listings</h3>
  </div>
  <ul class="machine-inventory-list">
    <%= render @equip_locator_listings %>
  </ul>

  <hr />

  <div class="page-header listing-site-header">
    <h3>Machinery Trader Listings</h3>
  </div>
  <ul class="machine-inventory-list">
    <%= render @mach_trader_listings %>
  </ul>
</div>
<div id="edit-form-container"></div>
