<div class="table-container-narrow listing-site-container">
  <div class="page-header outdated-listing-header">
    <h3 class="page-header-headline">Update these listings...</h3>
  </div>
  <ul class="listing-list">
    <% if @mach_trader_listings.count == 0 %>
      <h4 class="text-center">All listings up to date!</h4>
    <% else %>
      <%= render @mach_trader_listings %>
    <% end %>
  </ul>
</div>
<div class="listing-site-frame">
  <iframe src="https://dscrm.sandhills.com/main.aspx">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
