<div class="row outdated-listings-narrow">
  <h3 class="text-center">Outdated Listings</h3>
  <ul class="listing-list">
    <%= render @mach_trader_listings %>
  </ul>
</div>
<div class="listing-site-frame">
  <iframe src="https://dscrm.sandhills.com/main.aspx">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
