<div class="sidebar">
  <nav class="nav">
    <a href="#"><%= icon('flag') %></a>
    <%= link_to icon('plus'), new_machine_path %>
    <a href="#"><%= icon('user') %></a>
    <a  href="#" class="signout"><%= icon('sign-out') %></a>
  </nav>
</div>
