html, body {
  background: $offwhite;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.body-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: $grey;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  width: 10%;
  nav {
    a {
      color: $lightgrey;
      display: block;
      font-size: 24px;
      height: 100px;
      padding-top: 1em;
      &:hover {
        background: darken($grey, 5%);
        color: lighten($lightgrey, 10%);
        text-decoration: none;
      }
      small {
        font-size: 14px;
      }
    }
  }
}

.sidebar-clicked {
  background: darken($grey, 10%);
  border-bottom: 4px solid $darkgrey;
}

.outdated-listing-count {
  background: $yellow;
  color: $grey;
  font-size: 22px;
}

.flash-container {
  position: fixed;
  top: 1em;
  width: 70%;
  z-index: 9999;
}

/* Misc Utility Classes */

.unactive-link {
  cursor: default;
  pointer-events: none;
}

.hide-element {
  display: none !important;
}

.page-header-headline {
  margin-top: 0;
}
