html, body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

.body-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: $lightgray;
  height: 100%;
  text-align: center;
  width: 8%;
  nav {
    a {
      color: $lightblue;
      display: block;
      font-size: 24px;
      padding-top: 1em;
      &:hover {
        background: lighten($darkgray, 5%);
        color: lighten($lightblue, 10%);
        text-decoration: none;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

.sidebar-clicked {
  background: darken($lightgray, 10%);
  border-bottom: 4px solid $darkblue;
}

/* Misc Utility Classes */

.unactive-link {
  cursor: default;
  pointer-event: none;
}
