.sidebar {
  background-color: #808080;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  width: 6%;
  nav {
    a {
      border-bottom: 1px solid #8D8D8D;
      border-left: 4px solid #808080;
      border-right: 4px solid #808080;
      border-top: 1px solid #737373;
      color: darkgrey;
      display: block;
      font-size: 24px;
      height: 50px;
      &:hover {
        border-right: 4px solid #6699FF;
      }
    }
  }
}

.signout {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.flash-container {
  margin: 0 7%;
  position: absolute;
  right: 0;
  width: 80%;
}
