html, body {
  background: $offwhite;
  font-family: 'Open-sans', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

label {
  font-size: 14px;
}

.body-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: $grey;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  width: 10%;
  nav {
    a {
      color: $lightgrey;
      display: block;
      font-size: 24px;
      font-weight: 300;
      height: 100px;
      padding-top: 1em;
      &:hover {
        background: darken($grey, 5%);
        color: lighten($lightgrey, 10%);
        text-decoration: none;
      }
      small {
        font-size: 14px;
      }
    }
  }
}

.sidebar-clicked {
  background: darken($grey, 10%);
  border-bottom: 4px solid $darkgrey;
}

.outdated-listing-count {
  background: $yellow;
  color: $grey;
  font-size: 22px;
}

.flash-container {
  margin: 1em 10%;
  position: absolute;
  width: 80%;
  z-index: 999999;
}

/* Misc Utility Classes */

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.5;
}

.unactive-link {
  cursor: default;
  pointer-events: none;
}

.hide-element {
  display: none !important;
}

.page-header-headline {
  margin-top: 0;
}

.delete-link {
  color: darken($red, 30%);
}
