.top-navbar {
  background: $darkgrayblock;
  border: $darkgrayblock;
  border-radius: 0;
  box-shadow: $sm-box-shadow;
  z-index: 2;
  height: 5vh;
}

.sidebar {
  background-color: $lightgrayblock;
  bottom: 0;
  box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.5);
  height: 95vh;
  position: fixed;
  text-align: center;
  width: 8%;
  nav {
    a {
      color: $lightgrayfont;
      display: block;
      font-size: 24px;
      padding-top: 1em;
      &:hover {
        background: lighten($lightgrayblock, 5%);
        color: lighten($lightgrayfont, 10%);
        text-decoration: none;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

.sidebar-clicked {
  background: darken($lightgrayblock, 10%);
  border-left: 4px solid $yellow;
  div {
    color: darken($lightgrayfont, 20%);
  }
  span {
    color: darken($lightgrayfont, 20%);
  }
}
