html, body {
  background: $offwhite;
  font-family: 'Open-sans', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

label {
  font-size: 14px;
}

.body-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: $grey;
  height: 100vh;
  left: 0;
  list-style: none;
  padding-left: 0;
  position: absolute;
  text-align: center;
  width: 10%;
  li {
    a {
      color: $lightgrey;
      display: block;
      font-size: 24px;
      font-weight: 300;
      height: 100px;
      padding-top: 1em;
      &:hover {
        background: darken($grey, 5%);
        color: lighten($lightgrey, 10%);
        text-decoration: none;
      }
      small {
        font-size: 14px;
      }
    }
  }
}

.current {
  background: $offwhite;
  border-radius: 2px 0 0 2px;
  margin-left: 10px;
  margin-top: 10px;
  a {
    color: $grey !important;
    border-radius: 2px 0 0 2px !important;
    &:hover {
      background: darken($offwhite, 2%) !important;
    }
  }
}

.sign-out {
  bottom: 0;
  padding-bottom: 1em;
  position: absolute;
  width: 100%;
}

.outdated-listing-count {
  background: $primarygreen;
  color: $grey;
  font-size: 22px;
}

.flash-container {
  margin: 1em 10%;
  position: absolute;
  width: 80%;
  z-index: 999999;
}

/* Misc Utility Classes */

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.5;
}

.unactive-link {
  cursor: default;
  pointer-events: none;
}

.hide-element {
  display: none !important;
}

.page-header-headline {
  margin-top: 0;
}

.delete-link {
  color: darken($red, 30%);
}


/* Bootstrap Overrides */
.btn {
  border-radius: 0px;
}

.btn-default {
  background-color: $lightgrey;
  border: 1px solid $lightgrey;
  border-bottom: 2px solid darken($lightgrey, 10%);
  &:hover {
    background-color: darken($lightgrey, 5%);
    border: 1px solid darken($lightgrey, 5%);
    border-bottom: 2px solid darken($lightgrey, 15%);
  }
  &:active {
    background-color: darken($lightgrey, 5%);
    border: 1px solid darken($lightgrey, 5%);
    border-bottom: 2px solid darken($lightgrey, 5%);
  }
}

.btn-primary {
  background-color: $primarygreen;
  border: 1px solid $primarygreen;
  border-bottom: 2px solid darken($primarygreen, 10%);
  &:hover {
    background-color: darken($primarygreen, 5%);
    border: 1px solid darken($primarygreen, 5%);
    border-bottom: 2px solid darken($primarygreen, 15%);
  }
  &:active {
    background-color: lighten($primarygreen, 5%);
    border: 1px solid lighten($primarygreen, 5%);
    border-bottom: 2px solid darken($primarygreen, 5%);
  }
}
