.login-panel {
  margin-top: 7em;
}
.login-links {
  margin-top: 1em;
}

.edit-profile-container {
  height: 90vh;
  overflow-y: scroll;
}

.form-column-header {
  padding-top: 1em;
  h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.panel-header-text-left {
  display: inline-block;
}

.header-link-right {
  display: inline-block;
  float: right;
  margin: 0;
  a {
    padding: 0;
    margin: 0;
  }
}

.dealerships-display {
  height: 50vh;
  overflow-y: scroll;
}

.delete-account-link {
  color: darken($red, 30%);
}
