.listing-submit-button {
  padding: 1em;
}

.listing-site-container {
  padding: 1em;
}

.listing-site-panel {
  display: block;
  margin: 2em 0;
}

.outdated-listing-header {
  margin-bottom: 0;
}

.listing-list {
  padding-left: 0;
  height: 90vh;
  margin-bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.listing-site-frame {
  background: $white;
  border-left: 6px solid $lightgrey;
  border-right: 6px solid $lightgrey;
  height: 100vh;
  margin: 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}

.listings-instructions-panel {
  margin: 15%;
  width: 70%;
  .panel-body {
    padding: 1em;
  }
  h4 {
    font-weight: 700;
  }
}

.listings-instructions {
  font-weight: 300;
  line-height: 1.75;
  padding: 1em 0;
}

.listing-preview {
  border-top: 1px solid lighten($grey, 40%);
  display: block;
  font-weight: 100;
  overflow: hidden;
  width: 100%;
  &:nth-child(1) {
    border-top-width: 0px;
  }
}

.listing-stock-container {
  height: 4em;
  padding-top: 1em;
}

.listing-stock-number {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

.listing-stats-container {
  display: none;
}

.listing-stats-container-show {
  display: block;
}

.listing-stats {
  color: $darkgrey;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 1em;
  width: 100%;
}

.listing-show-more {
  cursor: pointer;
  width: 5%;
}

.listing-description {
  font-weight: 300;
  width: 100%;
  word-wrap: break-word;
}
