/* Containers */

.table-container-wide {
  left: 20%;
  margin: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 70%;
}

.table-container-narrow {
  left: 10%;
  position: absolute;
  width: 30%;
  height: 100vh;
}

.edit-form-container {
  background: $offwhitehover;
  display: none;
  height: 100vh;
  margin: 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 75%;
  z-index: 9999;
  box-shadow: -5px 2px 12px -6px rgba(61,61,61,1);
  -webkit-box-shadow: -5px 2px 12px -6px rgba(61,61,61,1);
  -moz-box-shadow: -5px 2px 12px -6px rgba(61,61,61,1);
  .machine-form-panel {
    margin: 2em;
  }
  form {
    padding-top: 1em;
  }
}

.add-machine-container {
  border-right: 1px solid $lightgrey;
  width: 20%;
  display: inline-block;
  a {
    float: left;
    width: 80%;
  }
}

.search-machines-container {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 79%;
  form {
    float: right;
    width: 96%;
  }
}

.add-new-no-machines {
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  height: 300px;
  padding: 40px;
  position: fixed;
  left: 30%;
  top: 30%;
  width: 50%;
  p {
  margin: 35px 10px;
  }
}

/* Table */

.search-header {
  background: $offwhite;
  border-bottom: 1px solid $lightgrey;
  height: 10vh;
  padding: 2em 0;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 999;
}

.machine-inventory-list {
  margin-top: 10vh;
  padding: 0;
  overflow-y: scroll;
  table-layout: fixed;
  tbody {
    width: 100%;
  }
}

.machine-table-header {
  cursor: pointer;
  height: 60px;
  a {
    color: $darkgrey;
  }
  th {
    height: 60px;
  }
}

.machine-preview {
  cursor: pointer;
  font-weight: 100;
  height: 60px;
  width: 100%;
  td {
    height: 60px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20%;
  }
  a {
    color: $darkgrey;
    padding: 10em;
    margin: -10em;
  }
  &:hover {
    background: darken($offwhite, 2%);
  }
}

.machine-preview-outdated {
  background: lighten($red, 20%);
  &:hover {
    background: lighten($red, 18%);
  }
}

.stock-number {
  color: $darkgrey;
  display: table-cell;
  font-weight: 300;
  vertical-align: middle;
}

.sorted-by {
  font-weight: 700;
}

.edit-machine-link {
  &:hover {
    text-decoration: none;
  }
}

.outdated-banner {
  background: $red;
  color: $white;
  font-size: 12px;
  opacity: 0.7;
  padding: 1px 5px;
  position: absolute;
  left: 0;
  text-shadow: 1px 1px darken($red, 10%);
  bottom: 5px;
}

/* Blur effects for edit form */

.machine-preview-override {
  background: $offwhitehover;
  border-bottom: 1px solid lighten($grey, 40%);
  border-top: 1px solid lighten($grey, 40%);
  opacity: 1 !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}

/* Edit Form */

.machine-form-column {
  padding-left: 40px;
  padding-right: 40px;
}
