.no-machine-alert{
  color: $darkgrayfont;
  font-size: 36px;
  font-weight: 500;
  margin-left: 20%;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 60%;
}
.table-container {
  bottom: 0;
  height: 90vh;
  margin: 0 4%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  width: 84%;
}

.my-inventory-header {
  background-color: #FFF;
  border-bottom: 0px solid #FFF;
  color: $darkgrayfont;
  height: 15vh;
  margin: 0;
  padding-top: 1em;
  position: fixed;
  width: 84%;
  z-index: 999;
  h3 {
    display: inline-block;
    margin-top: 0;
  }
  .row {
    margin: 0;
  }
}

.machine-table {
  position: absolute;
  top: 15vh;
  tr {
    &:nth-child(1) {
      border-top: 2px solid #FFF;
    }
  }
  td {
    height: 50px;
    overflow: hidden;
    width: 14%;
  }
  a {
    color: #808080;
    display: block;
    margin: -5em;
    padding: 5em;
    &:hover {
      text-decoration: none;
    }
  }
}

.sort-search-header {
  background-color: $lightgrayblock;
  box-shadow: $sm-box-shadow;
  color: $lightgrayfont;
  &:hover {
    cursor: pointer;
  }
  ul {
    height: 50px;
    list-style: none;
    padding: 1em;
    margin: 0;
    li {
      display: inline-block;
      width: 13%;
    }
  }
}

.machine-form-panel {
  box-shadow: $sm-box-shadow;
  .control-label {
    color: $darkgrayfont;
  }
}

.machine-form-column {
  padding-left: 40px;
  padding-right: 40px;
}

.machine-form-header {
  margin-top: 0;
  h1 {
    margin-top: 0;
    color: $darkgrayfont;
  }
}
