.no-machine-alert{
  color: $darkgrey;
  font-size: 36px;
  font-weight: 500;
  margin-left: 20%;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 60%;
}

.table-container-wide {
  bottom: 0;
  left: 18%;
  margin: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 70%;
}

.table-container-narrow {
  left: 8%;
  width: 30%;
}

.edit-form-container-show {
  height: 100vh;
  margin: 0px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;
  width: 62%;
  form {
    padding-top: 1em;
  }
}

.edit-form-container-show-background {
  background: $offwhitehover;
}

.edit-form-container-show-narrow {
  width: 32%;
  left: 38%;
}

.add-new-machine-container {
  height: 90vh;
  .machine-form-header {
    margin-bottom: 1em;
  }
}

/* Table */

.sort-header {
  height: 100px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  position: fixed;
  top: 0;
  width: 70%;
}

.sort-header-narrow {
  width: 30%;
}

.machine-inventory-list {
  height: 90vh;
  padding: 0;
  padding-top: 2em;
}

.machine-stats {
  color: $darkgrey;
  font-size: 14px;
  p {
    display: inline-block;
    margin-right: -4px;
    margin-top: 1em;
    width: 25%;
  }
}

.machine-preview {
  border-top: 1px solid lighten($grey, 40%);
  cursor: pointer;
  display: block;
  font-weight: 100;
  height: 100px;
  overflow: hidden;
  padding: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  &:hover {
    background: $offwhitehover;
  }
}

.stock-number {
  color: $darkgrey;
  display: table-cell;
  font-size: 18px;
  font-weight: 300;
  vertical-align: middle;
}

.sorted-by {
  color: $yellow;
  font-weight: 700;
}

.machine-preview-blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.5;
}

.machine-preview-override {
  background: $offwhitehover;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  opacity: 1 !important;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}

.edit-machine-link {
  display: block;
  margin: -1em;
  padding: 1em;
  &:hover {
    text-decoration: none;
  }
}

/* Edit Form */

.machine-form-column {
  padding-left: 40px;
  padding-right: 40px;
}

.machine-form-header {
  height: 9vh;
  margin: 0;
  padding: 0;
  h1 {
    margin: 0;
    color: $darkgrey;
  }
}

/* Site Checklist */

.current-listing {
  background: $green;
  &:hover {
    background: darken($green, 5%);
  }
}

.outdated-listing {
  background: $red;
  &:hover {
    background: darken($red, 5%);
  }
}

.site-checkbox {
  margin-bottom: 1em;
  padding: 1em 0;
}
