.background-img {
  background: url(image_path("streamline-equipment-lot.jpg")) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.landing-page-navbar {
  background: $grey;
  border: 0;
  border-radius: 0;
  display: table-cell;
  height: 50px;
  margin-bottom: 0;
  width: 100vw;
  vertical-align: middle;
  .landing-nav-links {
    color: $offwhite;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      padding-right: 50px;
      a {
        color: $offwhite;
        font-size: 16px;
      }
    }
  }
}

.homepage-logo {
  font-family: 'Fauna One', serif;
  font-size: 30px;
}

.landing-jumbo {
  background: rgba(0,0,0,0.4);
  height: 500px;
  padding: 70px;
  margin-bottom: 0;
  h1, h3 {
    color: $offwhite;
    text-shadow: 2px 2px #111;
  }
}

.marketing-screenshot {
  width: 70%;
  margin-top: -200px;
}

.marketing-description-container {
  background: $grey;
  color: $offwhite;
  padding: 100px 0;
  h2 {
    color: $lightgrey;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
  }
  hr {
    width: 600px;
  }
  a {
    margin: 30px;
  }
}

.marketing-sites-container {
  background: lighten($grey, 5%);
}

.site-logos-container {
  background: $offwhite;
  margin: 0 auto;
  padding: 0 0 50px 0;
  width: 60%;
  z-index: -1;
  img {
    margin: 15px;
  }
  h2 {
    color: $grey;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }
}

.learn-more-container {
  background: lighten($grey, 10%);
  height: 400px;
  h2 {
    margin-top: 0;
  }
}

.marketing-text-wide {
  width: 60%;
  margin: 0 auto;
  font-weight: 300;
}

.bottom-footer {
  background: $grey;
  color: darken($lightgrey, 20%);
  font-size: 14px;
  height: 30px;
  padding-left: 50px;
  text-align: center;
  p {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .background-img {
    background-image: url(image_path("homepage-stripes.jpg"));
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }

  .learn-more-container {
    height: 400px;
    h2 {
      display: none;
    }
    h4 {
      font-size: 18px;
    }
    hr {
      display: none;
    }
    span {
      display: none;
    }
    a {
      width:80%;
    }
  }

  .footer {
    display: none;
  }
}
