.background-img {
  background: url(image_path("streamline-equipment-lot.jpg")) no-repeat center center;
  background-size: cover;
  height: 90vh;
}

.landing-page-navbar {
  background: $grey;
  border: 0;
  border-radius: 0;
  display: table-cell;
  height: 10vh;
  margin-bottom: 0;
  width: 100vw;
  vertical-align: middle;
  .landing-nav-links {
    color: $offwhite;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      padding-right: 50px;
      a {
        color: $offwhite;
        font-size: 16px;
      }
    }
  }
}

.homepage-logo {
  font-family: 'Fauna One', serif;
  font-size: 30px;
}

.login {
  background: lighten($grey, 10%);
  &:hover {
    background: lighten($grey, 15%);
  }
}

.landing-jumbo {
  background: rgba(0,0,0,0.4);
  border-bottom: 10vh solid $grey;
  height: 90vh;
  padding: 40px;
  margin-bottom: 0;
  h1, h3 {
    color: $offwhite;
    text-shadow: 2px 2px #111;
  }
}

.marketing-screenshot-laptop {
  margin: 0 auto;
  margin-top: -500px;
  width: 70%;
}

.marketing-screenshot {
  display: none;
}

.say-hello-mobile {
  display: none;
}

.benefit-header {
  color: #000;
  font-size: 20px;
  font-weight: 100;
}

.benefit-description-container {
  background: $offwhite;
  color: lighten($grey, 10%);
  padding: 100px 0;
  h2 {
    color: $grey;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  hr {
    width: 600px;
  }
}

.benefits-description {
  margin-top: 40px;
  span {
    font-size: 18px;
    margin-top: 20px;
  }
  p {
    line-height: 2;
  }
}

.marketing-description-container {
  background: $offwhite;
  color: lighten($grey, 10%);
  padding: 100px 0;
  margin-top: 40px;
  h2 {
    color: $grey;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  hr {
    width: 600px;
  }
  a {
    margin: 30px;
  }
}

.marketing-sites-container {
  background: lighten($grey, 5%);
}

.site-logos-container {
  background: $offwhite;
  margin: 0 auto;
  padding: 0 0 50px 0;
  width: 60%;
  img {
    margin: 15px;
  }
  h2 {
    color: $grey;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }
}

.learn-more-container {
  background: lighten($grey, 10%);
  height: 400px;
  h2 {
    margin-top: 0;
  }
}

.bottom-footer {
  background: $grey;
  color: darken($lightgrey, 20%);
  font-size: 14px;
  height: 30px;
  padding-left: 50px;
  text-align: center;
  p {
    margin: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  .background-img {
    background: url(image_path("streamline-equipment-lot.jpg")) no-repeat center center;
    background-size: cover;
    height: 300px;
  }

  .marketing-screenshot-laptop {
    display: none;
  }

  .landing-jumbo {
    padding: 30px;
  }

  .marketing-description-container {
    padding-top: 20px;
  }

  .marketing-screenshot {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    display: block;
    margin: 50px auto;
    width: 90%;
  }

  .say-hello-desktop {
    display: none;
  }

  .say-hello-mobile {
    display: block;
  }
}
