.background-img {
  background: url(image_path("streamline-equipment-lot.jpg")) no-repeat center center;
  background-size: cover;
  height: 400px;
}

.landing-page-navbar {
  background: $grey;
  border: 0;
  border-radius: 0;
  height: 25px;
  margin-bottom: 0;
  .landing-nav-links {
    color: $offwhite;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      font-size: 14px;
      padding-right: 50px;
      a {
        color: $offwhite;
        &:hover {
          color: darken($offwhite, 20%);
          text-decoration: none;
        }
      }
    }
  }
}

.landing-jumbo {
  background: rgba(0,0,0,0.4);
  border-bottom: 10px solid $grey;
  height: 400px;
  padding: 70px;
  margin-bottom: 0;
  h1, h3 {
    color: $offwhite;
  }
}

.learn-more-container {
  background: url(image_path("homepage-stripes.jpg"));
  background-size: cover;
  color: $offwhite;
  height: 400px;
  padding: 30px;
  h2 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
  }
  hr {
    width: 600px;
  }
  a {
    margin: 30px;
  }
}

.bottom-footer {
  background: $grey;
  color: darken($lightgrey, 20%);
  font-size: 14px;
  height: 30px;
  padding-left: 50px;
  text-align: center;
  p {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .background-img {
    background-image: url(image_path("homepage-stripes.jpg"));
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }

  .learn-more-container {
    height: 400px;
    h2 {
      display: none;
    }
    h4 {
      font-size: 18px;
    }
    hr {
      display: none;
    }
    span {
      display: none;
    }
    a {
      width:80%;
    }
  }

  .footer {
    display: none;
  }
}
