.body {
  background: $offwhite;
}
.background-img {
  background: url(image_path("streamline-equipment-lot.jpg")) no-repeat center center;
  height: 70vh;
  left:0;
  margin-top: -20em;
  position: fixed;
  z-index: -1;
}

.landing-page-navbar {
  background: $grey;
  border: 0;
  border-radius: 0;
  height: 3vh;
  margin-bottom: 0;
  .landing-nav-links {
    color: $offwhite;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      font-size: 14px;
      padding-right: 3em;
      a {
        color: $offwhite;
        &:hover {
          color: darken($offwhite, 20%);
          text-decoration: none;
        }
      }
    }
  }
}

.landing-jumbo {
  background: rgba(0,0,0,0.4);
  border-bottom: 10px solid $grey;
  height: 50vh;
  padding: 4em;
  margin-bottom: 0;
  h1, h2 {
    color: $offwhite;
  }
}

.try-free-header {
  vertical-align: top;
  h2 {
    display: inline-block;
    margin: 0;
  }
  a {
    float: right;
  }
}

.landing-copy-container {
  padding: 1em;
}

.first-landing-copy {
  height: 35vh;
}

.landing-page-copy {
  background: $offwhite;
  p {
    font-size: 18px;
    font-weight: 300;
  }
}

.page-header {
  border-bottom: 1px solid $lightgrey;
  margin-top: 0;
}

.landing-page-copy-light {
  background: $offwhite;
}

.landing-page-copy-dark {
  background: #DDD;
}

.signup-card {
  background: rgba(50,50,50,0.5);
  position: absolute;
  right: 6em;
  width: 20%;
}

.signup-card-header {
  color: $offwhite;
  padding-top: 1em;
}

.signup-form {
  margin: 10% 0;
  width: 100%;
  input {
    margin-bottom: 3px;
    height: 40px;
  }
}

.parallax {
  background: $offwhite;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-group {
  position: relative;
  height: 70vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-layer-base {
  transform: translateZ(0);
}

.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}
