// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Variables
$darkgrayblock: #4A5063;
$darkgrayfont: #808080;
$lightgrayblock: #6E7382;
$lightgrayfont: #EEE;
$navy: #183048;
$sm-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
$sm-inset-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.5);;
$yellow: #BEA63F;

// App
@import "base";
@import "machines";
