// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 *= require jquery-ui
 */

// Variables
$green: #B8E5B2;
$red: #E3B8AC;
$white: #FFF;
$yellow: #BEA63F;

$grey: #6E7382;
$lightgrey: #EEE;
$darkgrey: #4A5063;
$darkgreyhover: #394152;
$offwhite: #FAFAFA;
$offwhitehover: #F5F5F5;

// App
@import "base";
@import "devise";
@import "listings";
@import "machines";
@import "static_pages";
