// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 *= require jquery-ui
 */


// Variables
$mainblue: #AEBAD2;
$lightblue: #6A7EAA;
$darkblue: #364E85;
$lightgray: #DADEE7;
$darkgray: #666;
$white: #FFF;
$green: #B8E5B2;
$red: #E3B8AC;

$grey: #6E7382;
$darkgrey: #4A5063;
$darkgreyhover: #394152;
$lightgrey: #EEE;
$offwhite: #FAFAFA;
$offwhitehover: #F5F5F5;
$yellow: #BEA63F;

$sm-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
$lg-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.5);
$sm-inset-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.5);;

// App
@import "base";
@import "devise";
@import "machines";
@import "static_pages";
