<strong class="stock-number">
  <span class="sorted-by">Stock <span class="sort-stock"><%= machine.stock_number %></span></span>
  <%= machine.make %> <%= machine.machine_model %> <%= machine.machine_type %>
</strong>
