<div class="row table-container-wide">
  <div class="sort-header">
    <%= form_tag("/machines") do %>
      <div class="form-group">
        <%= label_tag "Sorted by:", nil, class: "control-label" %>
        <%= select("machines",
                   "sort",
                   [ "Stock number", "Make", "Model", "Type", "Hours", "Price", "Location" ],
                   {},
                   { class: "form-control" }) %>
      </div>
    <% end %>
  </div>
  <ul class="machine-inventory-list">
    <%= render @machines %>
  </ul>
</div>
<div id="edit-form-container"></div>
<div id="site-checklist-container" hidden></div>
