<div class="row table-container">
  <div class="panel panel-default machine-form-panel">
    <div class="panel-body">
      <div class="page-header machine-form-header">
        <h1>Add a Machine</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
